# Loading in data from neo

In [38]:
from sqlalchemy import create_engine, text
from sqlalchemy.engine import URL
import polars as pl

# Server, DB, and auth details
server = 'neo'
database = 'Losses'
username = 'PROVMUTUAL/SHansali'
trusted_connection = True

# Pyodbc driver connection details
driver = 'SQL Server'
# driver = 'ODBC Driver 17 for SQL Server'

# Setting up connection and engine
connection_string = f'DRIVER={driver};SERVER={server};DATABASE={database};UID={username};TRUSTED_CONNECTION={trusted_connection};'
connection_url = URL.create(
    'mssql+pyodbc', 
    query={'odbc_connect': connection_string},
)
engine = create_engine(connection_url, use_setinputsizes = False, echo = False)

# Creating a polars DataFrame from a SQL query
query = '''
    SELECT TOP(10) *
    FROM Losses.dbo.Losses_Accident_Months_Archives
    '''
df = pl.read_database(query, engine)
print(df)

shape: (10, 58)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ Claim_No  ┆ Policy_Sy ┆ Policy_No ┆ Policy_Mo ┆ … ┆ Dataset_T ┆ Data_Thru ┆ Dataset_I ┆ Dataset_ │
│ ---       ┆ mbol      ┆ ---       ┆ dule      ┆   ┆ hru_Date  ┆ _Date     ┆ d         ┆ Created  │
│ str       ┆ ---       ┆ str       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│           ┆ str       ┆           ┆ str       ┆   ┆ str       ┆ str       ┆ str       ┆ datetime │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ [μs]     │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 000000082 ┆ HP1       ┆ 2990869   ┆ 07        ┆ … ┆ 2006-03-3 ┆ 2006-03-3 ┆ 20230103. ┆ 2023-01- │
│ 6         ┆           ┆           ┆           ┆   ┆ 1         ┆ 1         ┆ 112329    ┆ 06 09:07 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ :58.367  │
│ 000000082 ┆ HP1       ┆ 2990869   ┆ 07        ┆ … ┆ 2006-03-3 ┆ 2006-03-3 ┆ 20230103. ┆ 2023-01- │
│ 6         ┆           ┆           ┆           ┆   ┆ 1         ┆ 1         ┆ 112329    ┆ 06 09:07 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ :58.367  │
│ 000000082 ┆ HP1       ┆ 2990869   ┆ 07        ┆ … ┆ 2006-03-3 ┆ 2006-03-3 ┆ 20230602. ┆ 2023-06- │
│ 6         ┆           ┆           ┆           ┆   ┆ 1         ┆ 1         ┆ 072206    ┆ 02 08:54 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ :17.367  │
│ 000000082 ┆ HP1       ┆ 2990869   ┆ 07        ┆ … ┆ 2006-03-3 ┆ 2006-03-3 ┆ 20230602. ┆ 2023-06- │
│ 6         ┆           ┆           ┆           ┆   ┆ 1         ┆ 1         ┆ 072206    ┆ 02 08:54 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ :17.367  │
│ 000000082 ┆ HP1       ┆ 2990869   ┆ 07        ┆ … ┆ 2006-04-3 ┆ 2006-04-3 ┆ 20230103. ┆ 2023-01- │
│ 6         ┆           ┆           ┆           ┆   ┆ 0         ┆ 0         ┆ 112329    ┆ 06 09:07 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ :58.367  │
│ 000000082 ┆ HP1       ┆ 2990869   ┆ 07        ┆ … ┆ 2006-04-3 ┆ 2006-04-3 ┆ 20230103. ┆ 2023-01- │
│ 6         ┆           ┆           ┆           ┆   ┆ 0         ┆ 0         ┆ 112329    ┆ 06 09:07 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ :58.367  │
│ 000000082 ┆ HP1       ┆ 2990869   ┆ 07        ┆ … ┆ 2006-04-3 ┆ 2006-04-3 ┆ 20230602. ┆ 2023-06- │
│ 6         ┆           ┆           ┆           ┆   ┆ 0         ┆ 0         ┆ 072206    ┆ 02 08:54 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ :17.367  │
│ 000000082 ┆ HP1       ┆ 2990869   ┆ 07        ┆ … ┆ 2006-04-3 ┆ 2006-04-3 ┆ 20230602. ┆ 2023-06- │
│ 6         ┆           ┆           ┆           ┆   ┆ 0         ┆ 0         ┆ 072206    ┆ 02 08:54 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ :17.367  │
│ 000000082 ┆ HP1       ┆ 2990869   ┆ 07        ┆ … ┆ 2006-05-3 ┆ 2006-05-3 ┆ 20230103. ┆ 2023-01- │
│ 6         ┆           ┆           ┆           ┆   ┆ 1         ┆ 1         ┆ 112329    ┆ 06 09:07 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ :58.367  │
│ 000000082 ┆ HP1       ┆ 2990869   ┆ 07        ┆ … ┆ 2006-05-3 ┆ 2006-05-3 ┆ 20230103. ┆ 2023-01- │
│ 6         ┆           ┆           ┆           ┆   ┆ 1         ┆ 1         ┆ 112329    ┆ 06 09:07 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ :58.367  │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

# Exploring the data

In [40]:
len(df.columns)

58

In [45]:
df.columns

['Claim_No',
 'Policy_Symbol',
 'Policy_No',
 'Policy_Module',
 'Ceded_Direct',
 'Location_No',
 'Unit_No',
 'Time_Slice_Rollup_Group_Year',
 'Time_Slice_Rollup_Group_Month',
 'Time_Slice_Group',
 'Rollup_Group',
 'Loss_Date',
 'Loss_Reported_Date',
 'Policy_Effective_Date',
 'Insured_Name',
 'Agency_Id',
 'Line_of_Business_Id',
 'Line_of_Business',
 'Unit_Location_Street',
 'Unit_Location_City',
 'Unit_Location_State_Id',
 'Unit_Location_Zip_Code',
 'Mailing_Address_Used_Flag',
 'Policy_State_Id_ISO',
 'Policy_State_Id',
 'Loss_State_Id_ISO',
 'Loss_State_Id',
 'Cat_NonCat',
 'Cat_Data_Source',
 'Cat_Code',
 'Cat_Used_for_Loss_Reserves_Flag',
 'Cat_Used_for_Rate_Reviews_Flag',
 'Annual_Statement_Line_No',
 'Major_Peril_Id',
 'Loss_Description_Id',
 'Loss_Cause_Id',
 'Loss_Coverage_Group',
 'Claims',
 'Reserve_thru_Slice',
 'Loss_thru_Slice',
 'ALAE_Expense_thru_Slice',
 'ALAE_Recovery_thru_Slice',
 'ULAE_Expense_thru_Slice',
 'ULAE_Recovery_thru_Slice',
 'Salvage_Recovery_Thru_Slice',
 'Salvage_Distribution_Thru_Slice',
 'Subrogation_Recovery_Thru_Slice',
 'Subrogation_Distribution_Thru_Slice',
 'Recovery_Payment_thru_Slice',
 'Recovery_Deductible_thru_Slice',
 'Dataset_Time_Slice_Type',
 'Dataset_Rollup_Group',
 'Dataset_Data_Source',
 'Dataset_From_Date',
 'Dataset_Thru_Date',
 'Data_Thru_Date',
 'Dataset_Id',
 'Dataset_Created']